@import "tailwindcss";

:root {
  --neon-green: #39FF14;
  --neon-pink: #FF00FF;
  --neon-blue: #00FFFF;
  --neon-purple: #B026FF;
  --neon-yellow: #FFFF00;
  --dark-bg: #0a0a0f;
  --dark-surface: #161622;
  --dark-card: #1e1e2d;
}

body {
  background-color: var(--dark-bg);
  color: white;
  min-height: 100vh;
}

/* Animations */
@keyframes glow {
  0% {
    box-shadow: 0 0 5px var(--neon-blue);
  }

  50% {
    box-shadow: 0 0 20px var(--neon-blue), 0 0 10px var(--neon-pink);
  }

  100% {
    box-shadow: 0 0 5px var(--neon-blue);
  }
}

.glow-effect {
  animation: glow 3s infinite;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--dark-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--dark-surface);
  border-radius: 9999px;
}